# MySQL local pays (utilise par mysql-colombie + api-colombie)
MYSQL_ROOT_PASSWORD=changeme_root
MYSQL_DATABASE=futurekawa_co
MYSQL_USER=futurekawa
MYSQL_PASSWORD=changeme_user

# Optionnel (valeurs par defaut deja presentes dans l'API)
MYSQL_HOST=mysql-colombie
MQTT_BROKER_HOST=mosquitto-colombie
MQTT_BROKER_PORT=1883
