# MySQL local pays (utilise par mysql-equateur + api-equateur)
MYSQL_ROOT_PASSWORD=changeme_root
MYSQL_DATABASE=futurekawa_ec
MYSQL_USER=futurekawa
MYSQL_PASSWORD=changeme_user

# Optionnel (valeurs par defaut deja presentes dans l'API)
MYSQL_HOST=mysql-equateur
MQTT_BROKER_HOST=mosquitto-equateur
MQTT_BROKER_PORT=1883
